fastapi
uvicorn
langchain
langchain-openai
faiss-cpu
pypdf
python-multipart
langchain==0.1.16
langchain-openai==0.0.8
langchain-core==0.1.31
langchain-community==0.0.21
langchain-text-splitters==0.0.1
