fastapi
uvicorn
faiss-cpu
pypdf
python-multipart
scikit-learn

openai
langchain
langchain-core
langchain-community
langchain-openai
langchain-text-splitters

unstructured
pytesseract
pdf2image
Pillow
pdfminer.six
